@charset "utf-8";

/** cursor **/
.cursor {position: fixed; left: 0; top: 0; width: 30px; height: 30px; border-radius: 100%; background-color: #fff; mix-blend-mode: difference; z-index: 999; pointer-events: none; transition: 0.15s;}
.cursor.zoom {width: 75px; height: 75px;}
.cursor.imgShow {width: 80px !important; height: 80px !important; background: url(/assets/images/ico_click.png) no-repeat; background-size: 80px; mix-blend-mode: normal;}

/** sidebar **/
.sidebar {position: fixed; left: 0; top: 0; bottom: 0; width: 270px; height: 100%; background: #1f1f1f; padding: 50px 15px; box-sizing: border-box; transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s; z-index: 10;}
.sidebar::after {display: block; content: ''; width: 1px; height: 100%; background: rgba(255, 255, 255, 0.3); position: absolute; right: 0; top: 0; animation: sidebarLine 1s linear 0s alternate;}
@keyframes sidebarLine {0% {height:0;} 100% {height:100%;}}

.sidebar h1 {margin-top: 65px;}
.sidebar h1 a {position: relative; left: -8px; display: block; width: 70px; margin-bottom: 55px;}
.sidebar li {white-space: nowrap;}
.sidebar li a {display: block; background: transparent; border-radius: 10px; font-size: 18px; font-weight: 700; padding: 15px; margin: 10px 0; transition: all 0.2s;}
.sidebar li:hover a,.sidebar li.active a {background: #8b00ff;}
.sidebar li a img {position: relative; top: 2px; right: -2px; margin-right: 12px;}

.btn_sidebar {position: absolute; right: 30px; top: 60px; display: inline-block; width: 45px; height: 45px; border: 3px solid #fff; border-radius: 10px; background: #1f1f1f; transition: all 0.3s;}
.btn_sidebar::after {display: block; content: ''; width: 100%; height: 100%; background: url(/public/assets/images/arr_left.png) no-repeat center; background-size: 15px;}
.btn_sidebar:hover {border-radius: 100%;}
.btn_sidebar:hover::after {animation: arrMotion 0.35s linear 0s infinite alternate;}

.open .sidebar {width: 85px;}
.open .sidebar li a img {margin-right: 0;}
.open .sidebar li a span {opacity: 0;visibility: hidden;font-size: 0;}
.open .sidebar .btn_sidebar {right: 20px;}
.open .btn_sidebar::after {transform: rotate(180deg);}
.open .btn_sidebar:hover::after {animation: arrMotion02 0.35s linear 0s infinite alternate;}
.open .sidebar .profile dl dd {display: none;}

/* menu tootip */
.open .sidebar .tooltip {position: relative;}
.open .sidebar .tooltip span {visibility: hidden; min-width: 70px; height: 30px; line-height: 29px; padding-left: 0; padding: 0 10px; border-radius: 15px;text-align: center;color: #fff;background-color: #fff;opacity: 0;transition: opacity 1s;z-index: 10;position: absolute; left: 170%; top:50%; transform: translateY(-50%); font-size: 14px; font-weight: normal; text-indent: 0; color: #222; box-sizing: border-box;}
.open .sidebar .tooltip span::after {display: block; content: " "; position: absolute; top: 50%; transform: translateY(-50%); right: 100%; margin-right: -4px; background: url(/public/assets/images/tri_left.png) no-repeat; width: 10px; height: 14px;}
.open .sidebar .tooltip:hover span {visibility: visible; opacity: 1;}

/* profile */
.profile {position: absolute; bottom: 70px; left: 20px; white-space: nowrap;}
.profile dl dt {display: inline-block; vertical-align: middle; width: 40px; height: 40px; background: #fff; border-radius: 100%; margin-right: 10px; overflow: hidden;}
.profile dl dd {display: inline-block; vertical-align: middle; font-size: 15px; font-weight: 500;}
.profile .tip {position: absolute; top: -50px; width: 200px; height: 30px; line-height: 30px; color: #222; background: #fff; border-radius: 20px; text-align: center; font-size: 14px; font-weight: 700; transition: opacity 0.3s;}
.profile .tip::after {display: block; content: ''; width: 14px; height: 10px; background: url(/public/assets/images/tri_down.png) no-repeat; position: relative; left: 13px; top: -2px;}
.profile .tip strong {color: #8b00ff;}

.open .profile .tip {opacity: 0; visibility: hidden;}
.open .profile:hover .tip {opacity: 1; visibility: visible;}

@keyframes arrMotion {0% {transform:translateX(-4px);}100% {transform:translateX(0);}}
@keyframes arrMotion02 {0% {transform:rotate(180deg) translateX(0);}100% {transform:rotate(180deg) translateX(-4px);}}

.inner {padding: 100px 100px 100px 370px;}
.open .inner {padding: 100px 100px 100px 185px;}

/** Home **/
.progress_bar {position: fixed; top: 0; left: 270px; right: 0; height: 10px; background: #8b00ff; transform-origin: 0%;}
.open .progress_bar {left: 85px;}  
.bg_txt {-webkit-text-stroke: 4px currentColor; letter-spacing: 0.06em; font-size: calc(100vw / 20); text-transform: uppercase; font-weight: bold; padding: 0 16px; margin: 0; white-space: nowrap; opacity: 0.3;}

.main_visual {position: relative; height: calc(100vh - 100px); padding-bottom: 100px;}
.main_title .main_txt p {display: block; font-family: 'Righteous', cursive; font-size: 7rem; letter-spacing: 3px; line-height: 1.3;}
.main_title .main_txt p:nth-child(4) {margin-left: 40%;}
.main_title .main_txt p span {position: relative; display: inline-block;}
.main_title .main_txt p span::after {display: inline-block; content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #fff; opacity: 0.5;}
.main_title .main_txt p:hover span::after {animation: leftToRight 0.4s linear both; width: 0; height: 60px; background: #8b00ff; opacity: 1; z-index: -1;}

@keyframes leftToRight {0% {width:0;}100% {width:100%;}}

.main_title .desc {display: block; font-size: 1rem; margin-left: 40%; margin-top: 30px; opacity: 0.5;}
.scroll_down {width: 120px; margin: auto; text-align: center;}
.scroll_down .mouse_shape {display: block; position: relative; width: 35px; height: 45px; margin: 50px auto 10px; border: 2px solid #fff; border-radius: 20px; box-sizing: border-box;} 
.scroll_down .mouse_shape .mouse_animation {display: block; position: absolute; top: 25%; left: 50%; width: 2px; height: 8px; margin-left: -1px; background-color:#fff; animation:ball-scroll 2s linear infinite;} 

@keyframes ball-scroll {0% { top:25%; opacity:1; } 20% { top:50%; opacity:1; } 50% { top:75%; opacity:0; } 100% { top:25%; opacity:0; }}    

.section {position: relative; height: 500px; padding: 100px 0;}
.section h3 {font-size: 4rem; letter-spacing: 3px; font-style: oblique; line-height: 1; color: #1f1f1f; text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; transition: all 0.3s;}
.section h3:hover {color: #fff;}
.main_project_list {position: absolute; right: -90px; top: 100px; width: 75%;}
.main_project_list li a {display: block; border-top: 1px solid #fff; border-bottom: 1px solid #fff; padding: 30px 0; font-size: 2.5rem; opacity: 0.5; margin: -1px 0 0; transition: all 0.3s;}
.main_project_list li:hover a {opacity: 1;}
.main_project_list li a::after {display: block; content: ''; clear: both;}
.main_project_list li a .tit {float: left; font-weight: 700; font-style: italic;}
.main_project_list li a .tit em {margin-right: 50px;}
.main_project_list li a .date {float: right; font-style: italic; padding: 0 30px;}
.btn_more {position: absolute; bottom: 0; left: 0; width: 220px; height: 220px; border: 2px solid #fff; background: transparent; border-radius: 100%; overflow: hidden; text-indent: -9999px;}
.btn_more::before {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: block; content: ''; width: 0; height: 0; background: #fff; border-radius: 100%; transition: all 0.5s;}
.btn_more:hover::before {width: 100%; height: 100%;}
.btn_more span {position: relative; z-index: 1; display: block; width: 64px; height: 100%; background: url(/assets/images/arr_btn_up.png) no-repeat; background-size: contain; background-position: center; margin: auto;}
.btn_more:hover span {background-image: url(/assets/images/arr_btn_up_b.png);}

.contact_wrap {min-width: 300px; max-width: 500px; margin: 80px auto 0;}
.contact_wrap h4 {font-size: 2rem; margin-bottom: 20px;}
.contact_wrap input { width: 100%; border-bottom: 2px solid #afafaf; font-size: 1.3rem; color: #fff; padding: 7px 0; background: transparent; transition: border-color 0.2s; margin-bottom: 20px; transition: all 0.3s;}
.contact_wrap input[type="submit"] { padding: 15px; border: 0; background: #fff; color: #222; border-radius: 5px; margin-top: 20px;}
.contact_wrap textarea {padding: 20px; background: transparent; border: 2px solid #afafaf; border-radius: 5px; width: 100%; height: 200px; font-size: 1.3rem; color: #fff; box-sizing: border-box; transition: all 0.3s;}
.contact_wrap input:focus, .contact_wrap textarea:focus {border-color: #fff;}

/** Project **/
.all-projects {display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-column-gap: 2rem; grid-row-gap: 2rem; margin-top: 50px;}
.all-projects > div {max-width: 300px !important;}
.all-projects img {width: 100%; height: auto; object-fit: cover; border-radius: 1rem; margin-bottom: 1rem;}
.all-projects h2 {font-size: 1.2rem; margin-bottom: 10px;}
.all-projects p {font-size: 1rem;}
.filter-container button {margin-right: 20px; min-width: 100px; padding: 10px 15px 12px; background: transparent; border: 1px solid #fff; border-radius: 10px; font-size: 16px; font-weight: 700; color: #fff; box-sizing: border-box; transition: all 0.3s;} 
.filter-container button:hover {background: #8b00ff; border-color: #8b00ff;}
.filter-container button.active {background: #8b00ff; border-color: #8b00ff;}

.pers_list li a {display: block; width: 50%; font-size: 4rem; font-weight: 700; border-bottom: 1px solid rgba(255, 255, 255, 0.5);}
.pers_list li a span {font-size: 2rem; margin-left: 10px;}
.pers_list li a::after {display: block; content: ''; width: 0; height: 1px;}
.pers_list li a:hover::after {animation: leftToRight 0.4s linear both; background: #fff;}

/** Profile **/
.profile_title {font-size: 5rem; line-height: 1.2;}
.profile_title span {display: block; font-size: 3rem;}
.profile_list {display: flex; flex-wrap: wrap; justify-content: flex-end; padding-top: 60px; margin: 0 -20px;}
.profile_list > div {flex: 1; border-right: 1px solid rgba(255, 255, 255, 0.5); padding: 0 20px;}
.profile_list li {font-size: 1.5rem; line-height: 1.6;}
.profile_list .tit {font-size: 2rem; font-weight: 700; margin-bottom: 10px;}
.profile_list dl {line-height: 1.6; margin-top: 15px;}
.profile_list dl dt {font-size: 1.2rem; margin-bottom: 5px;}
.profile_list dl dd {font-size: 1rem;}

